@use './variables' as *;

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.otf);
}

body {
    color: black;
    background: $background-color3;

    #app {
        max-width: 1080px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 85px 0;
        display: flex;
        flex-direction: column;
    
        .container{
            flex-grow: 1;
            background: $background-color1;
            box-shadow: $box-shadow-normal;
            border-radius: $border-radius-s;
            display: flex;
            flex-direction: column;
        }
        
        .content{
            padding: 45px 60px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }
}

@media screen and (max-width: 1130px){
    body{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 900px){
    body{
        padding-left: 15px;
        padding-right: 15px;

        #app {
            padding-top: 55px;
            padding-bottom: 35px;
            .content{
                padding: 30px;
            }
        }
    }
}

@media screen and (max-width: 600px){
    body{
        #app {
            .content{
                padding: 15px;
            }
        }
    }
}

@media screen and (max-width: 370px){
    body{
        padding-left: 10px;
        padding-right: 10px;
    }
}