$body-color: #E7F6FF;

$container-color: #FFFFFF;

$text-color: #9D9D9D;
$text-color1: #F3F3F3;
$text-color2: #5C5C5C;
$text-color3: #BDBDBD;
$text-color4: #ffffff;

$placeholder-color: #C4C4C4;

$text-color-dark: #5C5C5C;

$border-color: #EAEAEA;

$button-color: #9DD458;
$button-hover-color: #9cd458c9;

$border-radius-s: 20px;
$border-radius-m: 40px;

$box-shadow-lite: 0px 0px 6px 0 #00000026;
$box-shadow-normal: 0 10px 20px 0 rgb(0 0 0 / 40%);
